<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- Bootstrap core JavaScript -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>Shop Online</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/heroic-features.css" rel="stylesheet">
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">DCT Shop Online</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/thanhtoan"> <img src="/static/images/card.png"/></a>
            </li>
            <li class="cart">
              	
              		<font color="white">Giỏ hàng đang trống</font>
              	
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">DCT </h1>
        <p class="lead">All things you need are here! </p>
        <a href="#" class="btn btn-primary btn-lg">Contact!</a>
      </header>
    </div>


	<div class="container">

		
	
      <!-- Page Features -->
      <div class="row text-center">
		

        <div class="container">
          <div class="card" align="center">
            <img class="card-img-top" src="/static/images/sharp_45_7490000.jpg" alt="Sharp 45 inch">
            <div class="card-body">
              <h4 class="card-title">Sharp 45 inch</h4>
              <p class="card-text">Tivi Shrap màn hình cong siêu mỏng<br/>7,490,000 vnđ</p>
            </div>
          	<div>
          		<form action="/cart/cart_add/2/" method="post">
          			<tr><th><label for="id_quantity">Số lượng:</label></th><td><select name="quantity" id="id_quantity">
  <option value="1">1</option>

  <option value="2">2</option>

  <option value="3">3</option>

  <option value="4">4</option>

  <option value="5">5</option>

  <option value="6">6</option>

  <option value="7">7</option>

  <option value="8">8</option>

  <option value="9">9</option>

</select></td></tr>
<div class="card-footer" >
  <a href="/thanhtoan7" class='btn btn-primary' style="float: center;" >
  Thêm vào giỏ hàng
</a>
</div>
          		</form>
          	</div>
          </div>

        </div>
        
      </div>
 

	</div>


  
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>


</body>
</html>