<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- Bootstrap core JavaScript -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>Shop Online</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/heroic-features.css" rel="stylesheet">
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Shop Online</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/thanhtoan"> <img src="/static/images/card.png"/></a>
            </li>
            <li class="cart">
              	<hr>
              		<font color="white">Giỏ hàng đang trống<br>chọn sản phẩm thêm vào giỏ</font>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">DCT </h1>
        <p class="lead">Mọi thứ bạn cần đều ở đây! </p>
        <a href="#" class="btn btn-primary btn-lg">Contact!</a>
      </header>
    </div>


	<div class="container">

		
	
      <!-- Page Features -->
      <div class="row text-center">
		
    <!--May 0-->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="/static/images/iphone-x-64gb-12.jpg" alt="Iphone-x-64gb">
        <div class="card-body">
          <h4 class="card-title">Iphone-x-64gb</h4>
          <p class="card-text">IPhone X mang trên mình thiết kế hoàn toàn mới với màn hình Super Retina viền cực mỏng<br/>37,4900,000 vnđ</p>
        </div>
        <div>
          <a href="/1" class='btn btn-primary' style="float: center;" >
          Xem thêm
      </a>
        </div>
      </div>

    </div>

    <!--May 1-->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="/static/images/iphone-8-plus-hh-400x400.jpg" alt="Asanzo 50 inch">
        <div class="card-body">
          <h4 class="card-title">Iphone-8-plus</h4>
          <p class="card-text">iPhone 8 Plus màu sắc nổi bật, cá tính.<br/>29,000,000 vnđ</p>
        </div>
        <div>
          <a href="/2" class='btn btn-primary' style="float: center;" >
          Xem thêm
      </a>
        </div>
      </div>
    </div>

    <!--May 2-->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="/static/images/iPad_Samsung_Wifi.jpg" alt="iPad WiFi 32GB New 2018">
        <div class="card-body">
          <h4 class="card-title">iPad WiFi 32GB New 2018</h4>
          <p class="card-text">Nhôm nguyên khối, Retina 9.7 inch<br/>8,390,000 vnđ</p>
        </div>
        <div>
          <a href="/3" class='btn btn-primary' style="float: center;" >
          Xem thêm
      </a>
        </div>
      </div>

    </div>


     <!--May 3--> 
     <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="/static/images/samsung-galaxy-s9-plus-128gb-400x400.jpg" alt="Samsung-galaxy-s9-plus-128gb">
        <div class="card-body">
          <h4 class="card-title">Samsung-galaxy-s9-plus-128gb</h4>
          <p class="card-text">"Màn hình vô cực" trên Samsung S9 Plus<br/>24,390,000 vnđ</p>
        </div>
        <div>
          <a href="/4" class='btn btn-primary' style="float: center;" >
          Xem thêm
      </a>
        </div>
      </div>

    </div>
        
    
    <!--May 4-->   
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="/static/images/panansonic_40_6590000.jpg" alt="Panasonic 40 inch">
            <div class="card-body">
              <h4 class="card-title">Panasonic 40 inch</h4>
              <p class="card-text">Tivi Panasonic màn hình phẳng 40 inch<br/>6,590,000 vnđ</p>
            </div>
          	<div>
          		<a href="/5" class='btn btn-primary' style="float: center;" >
    					Xem thêm
				  </a>
          	</div>
          </div>

        </div>
       
    <!--May 5--> 
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="/static/images/samsung_32_5990000.jpg" alt="Samsung 32 inch">
            <div class="card-body">
              <h4 class="card-title">Samsung 32 inch</h4>
              <p class="card-text">Tivi Samsung thế hệ mới 32 inch<br/>5,999,000 vnđ</p>
            </div>
          	<div>
          		<a href="/6" class='btn btn-primary' style="float: center;" >
    					Xem thêm
				  </a>
          	</div>
          </div>

        </div>
    
    <!--May 6--> 
       
       <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="/static/images/MacbooAir.jpg" alt="Macbook Air 2017 MQD32">
          <div class="card-body">
            <h4 class="card-title">Macbook Air 2017 MQD32</h4>
            <p class="card-text">Intel Core i5 Dual-core 1.8 GHz, 8GB 1600 MHz LPDDR3<br/>18,990,000 vnđ</p>
          </div>
          <div>
            <a href="/7" class='btn btn-primary' style="float: center;" >
            Xem thêm
        </a>
          </div>
        </div>

      </div>
        
    <!--May 7-->
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="/static/images/sharp_45_7490000.jpg" alt="Sharp 45 inch">
            <div class="card-body">
              <h4 class="card-title">Sharp 45 inch</h4>
              <p class="card-text">Tivi Shrap màn hình cong siêu mỏng<br/>7,490,000 vnđ</p>
            </div>
          	<div>
          		<a href="/8" class='btn btn-primary' style="float: center;" >
    					Xem thêm
				  </a>
          	</div>
          </div>

        </div>
       
    <!--May 8-->
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="/static/images/sony_48_11599000.png" alt="Sony 48 inch">
            <div class="card-body">
              <h4 class="card-title">Sony 48 inch</h4>
              <p class="card-text">Tivi Sony LCD màn hình phẳng 48 inch<br/>11,599,000 vnđ</p>
            </div>
          	<div>
          		<a href="/9" class='btn btn-primary' style="float: center;" >
    					Xem thêm
				  </a>
          	</div>
          </div>

        </div>
        
    <!--May 9-->
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="/static/images/sony_55_20590000.jpg" alt="Sony 55 inch">
            <div class="card-body">
              <h4 class="card-title">Sony 55 inch</h4>
              <p class="card-text">Tivi Sony LED màn hình phẳng 55 inch<br/>20,590,000 vnđ</p>
            </div>
          	<div>
          		<a href="/11" class='btn btn-primary' style="float: center;" >
    					Xem thêm
				  </a>
          	</div>
          </div>

        </div>
      <!--May 10-->
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="/static/images/tcl_55_9900000.jpg" alt="TCL 55 inch">
            <div class="card-body">
              <h4 class="card-title">TCL 55 inch</h4>
              <p class="card-text">Tivi TCL Smart màn hình cong 55 inch<br/>9,900,000 vnđ</p>
            </div>
          	<div>
          		<a href="/22" class='btn btn-primary' style="float: center;" >
    					Xem thêm
				  </a>
          	</div>
          </div>

        </div>
       <!--May 11--> 
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="/static/images/toshiba32_4590000.jpg" alt="Toshiba 32 inch">
            <div class="card-body">
              <h4 class="card-title">Toshiba 32 inch</h4>
              <p class="card-text">Tivi LCD Toshiba 32 inch màn hình phẳng<br/>4,590,000 vnđ</p>
            </div>
          	<div>
          		<a href="/33" class='btn btn-primary' style="float: center;" >
    					Xem thêm
				  </a>
          	</div>
          </div>

        </div>
        
      <!--May 12-->  

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="/static/images/Dell_vostro.jpg" alt="Dell Vostro V3568 XF6C61">
            <div class="card-body">
              <h4 class="card-title">Dell Vostro V3568 XF6C61</h4>
              <p class="card-text">Chip: Intel Core i5-7200U, RAM: DDR4 4GB (2 khe cắm)<br/>11,999,000 vnđ</p>
            </div>
          	<div>
          		<a href="/44" class='btn btn-primary' style="float: center;" >
    					Xem thêm
				  </a>
          	</div>
          </div>

        </div>
      

      <!--May 13-->
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="/static/images/asanzo_4k_50_11690000.jpg" alt="Asanzo 50 inch">
            <div class="card-body">
              <h4 class="card-title">Asanzo 50 inch</h4>
              <p class="card-text">Tivi Asanzo 4K màn  hình phẳng 50 inch<br/>9,000,000 vnđ</p>
            </div>
          	<div>
          		<a href="/55" class='btn btn-primary' style="float: center;" >
    					Xem thêm
				  </a>
          	</div>
          </div>

        </div>
      
      
      <!--May 14-->
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="/static/images/SamsungPrime.jpg" alt="Samsung Galaxy J2 Prime">
            <div class="card-body">
              <h4 class="card-title">Samsung Galaxy J2 Prime</h4>
              <p class="card-text">Chính hãng, Nguyên seal, Mới 100%, Chưa Active<br/>2,690,000 vnđ</p>
            </div>
          	<div>
          		<a href="/66" class='btn btn-primary' style="float: center;" >
    					Xem thêm
				  </a>
          	</div>
          </div>

        </div>
      

      <!--May 15-->
        
        







      </div>
  

	</div>




    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>
</body>
</html>
